 body {
     background: #d5d5d5 !important;
     font-family: 'Roboto', sans-serif;
 }
 
@keyframes fly-in-from-left {
  from {
    transform:translateY(15rem) rotate(15deg);
    opacity:0;
  }
}

@keyframes fly-in-from-right {
  from {
    transform:translateY(15rem) rotate(-15deg);
    opacity:0;
  }
}

.panel{
    padding: 0px;
}
 .welcome_header {
        height: 20vh;
    background-image: url(../img/i2_1.jpg);
    background-size: cover;
}

.welcome_user_head{
    display: block;
    width: 36%;
    margin: auto;
    position: relative;
    top: 10vh;
}

.welcome_user_head_img{
        width: 100%;
    border-radius: 80px;
}

.diy_card{
     padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
/*  animation:fly-in-from-left .5s 1s ease both;*/
  transform-origin:top left;
}


.welcome_body{
    height: 50vh;
    margin-top: 14vh;
}

#recycle_btn{
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    margin: auto;
    display: block;
    border: 1px solid transparent;
}

#user_name{
    text-align: center;
    font-size: 20px;
    color: #565656;
    padding-bottom: 15px;
}

#user_location{
    text-align: center;
    font-size: 14px;
    color: grey;
    padding-bottom: 15px;
}


.tile{
        width: 50%;
/*    background: #fff;*/
    margin-top: 5px;
    height: 15vh;    float: left;
    padding: 5px;
}

.inner_tile{
        background: #fff;
    height: 100%;
   box-shadow:  2px 0px 9px 2px rgba(128, 128, 128, 0.17);
}

.tile_value{
    font-size: 20px;
    text-align: center;
    padding: 16px 0px;
    padding-bottom: 4px;
        color: #565656;
}

.tile_value_label{
/*        font-size: 24px;*/
    text-align: center;
    padding: 10px 0px;
        color: #565656;
}